.trait-label {
    width: 42em;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    margin: 2px;
}

.trait-holder{
  text-align: center;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  width: 24px;
  height: 32px;
  font-size: 16pt;
  flex-shrink: 2;
}

.trait {
    margin: 0px 4px;
    height: 32px;
    font-size: 16pt;
    width: 5em;
    text-align: right;
    display: inline-block;
}

select {
    font-size: 14px;
    height: 32px;
    width: 192px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
  }

.btn-roll {
    background-color: #bbb;
  }

  .btn-small {
      font-size: 14px;
      height: 32px;
      width: 32px;
      padding: 1px;
      margin: 2px;
      border: 1px solid black;
      border-radius: 2px;
  }

  .btn-med {
    font-size: 14px;
    height: 32px;
    width: 48px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
}

.btn-wide {
    font-size: 14px;
    height: 32px;
    width: 96px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
}