:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #079f00;
  }

  .title {
    text-align: center;
    width: 24em;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: 600;
    font-size: 18pt;
  }

  .warning-stripe {
    height: 64px;
    width: 100%;
    margin: 0px;
    background-image: url("../assets/img/stripe.png");
    background-repeat: repeat;
  }

  .content {
    display: flex;
    margin: 82px auto 0px; 
    padding: 0 16px;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    color: #ccc;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .col {
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    flex-basis: auto; 
  }

  .left {
    width: 40%;
  }

  .right {
    width: 58%;
  }

  .btn-roll {
    background-color: #bbb;
  }

  .btn-small {
      font-size: 14px;
      height: 32px;
      width: 32px;
      padding: 1px;
      margin: 2px;
      border: 1px solid black;
      border-radius: 2px;
  }

  .btn-med {
    font-size: 14px;
    height: 32px;
    width: 48px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
}

.btn-wide {
    font-size: 14px;
    height: 32px;
    width: 96px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
}

.btn-extra-wide {
  font-size: 14px;
  height: 32px;
  width: 128px;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 2px;
}

select {
    font-size: 14px;
    height: 32px;
    width: 192px;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
}

.center {
  text-align: center;
}

.input-control {
  font-size: 14px;
  height: 32px;
  width: 32px;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 2px;
}

.wide {
  width: 240px;
}


.roll {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  padding: 6px 8px;
  margin: 8px;
  font-size: 18pt;
}

.rolltext {
  margin: 0px auto;
}

.ghost {
  border-color: black;
  color: red;
  background-color: yellow;
  font-weight: bolder;
}

.trait-label {
    width: 42em;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
    margin: 2px;
}

.trait-holder{
  text-align: center;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  width: 24px;
  height: 32px;
  font-size: 16pt;
  flex-shrink: 2;
}

.trait {
    margin: 0px 4px;
    height: 32px;
    font-size: 16pt;
    width: 5em;
    text-align: right;
    display: inline-block;
}

.wide-trait {
  margin: 0px 4px;
  height: 32px;
  font-size: 16pt;
  width: 8em;
  text-align: right;
  display: inline-block;
}


