
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="title">{{ title }}</div>
  <div class="warning-stripe">
  </div>
</div>


<div class="content" role="main">

  <div class="trait-holder">
    <span class="trait">
    Brains: {{ brains }}
    </span>
    <button class="btn-small" (click)="increaseBrains($event)">+</button>
    <button class="btn-small" (click)="decreaseBrains($event)">-</button>

    <button class="btn-med" (click)="rollBrains($event)">Roll</button>
    &nbsp;
    <select ng-model="brainsTalent">
      <option value="">Choose one...</option>
      <option *ngFor="let x of brainsTalents">{{x}}</option>
    </select>

    <button class="btn-wide" (click)="rollBrainsTalent($event)">Roll Talent</button>
  </div>

  <div class="trait-holder">
    <span class="trait">
      Muscle: {{ muscle }}
    </span>
    <button class="btn-small" (click)="increaseMuscle($event)">+</button>
    <button class="btn-small" (click)="decreaseMuscle($event)">-</button>
    <button class="btn-med" (click)="rollMuscle($event)">Roll</button>
    &nbsp;
    <select ng-model="muscleTalent">
      <option value="">Choose one...</option>
      <option *ngFor="let x of muscleTalents">{{x}}</option>
    </select>
    <button class="btn-wide" (click)="rollMuscleTalent($event)">Roll Talent</button>
  </div>

  <div class="trait-holder">
    <span class="trait">
      Moves: {{ moves }}
    </span>
  <button class="btn-small" (click)="increaseMoves($event)">+</button>
  <button class="btn-small" (click)="decreaseMoves($event)">-</button>
  <button class="btn-med" (click)="rollMoves($event)">Roll</button>
  &nbsp;
  <select ng-model="movesTalent">
    <option value="">Choose one...</option>
    <option *ngFor="let x of movesTalents">{{x}}</option>
  </select>
  <button class="btn-wide" (click)="rollMovesTalent($event)">Roll Talent</button>
  </div>


  <div class="trait-holder">
    <span class="trait">
      Cool: {{ cool }}
    </span>
    <button class="btn-small" (click)="increaseCool($event)">+</button>
    <button class="btn-small" (click)="decreaseCool($event)">-</button>
    <button class="btn-med" (click)="rollCool($event)">Roll</button>
    &nbsp;
    <select ng-model="coolTalent">
      <option value="">Choose one...</option>
      <option *ngFor="let x of coolTalents">{{x}}</option>
    </select>
    <button class="btn-wide" (click)="rollCoolTalent($event)">Roll Talent</button>
  </div>

  <h3>Traits Total: {{ totalTraits }} / <input class="input-control" [(ngModel)]="traitsAllowed"></h3>

  <div class="trait-holder">
    <span class="trait">
    Brownie Points: {{ browniePoints }}
    </span>
    <button class="btn-small" (click)="increaseBrowniePoints($event)">+</button>
    <button class="btn-small" (click)="decreaseBrowniePoints($event)">-</button>
  </div>

  <div class="trait-holder">
    <span class="trait">
    Goal:
    </span>
    <select ng-model="goal">
      <option *ngFor="let x of goals">{{x}}</option>
    </select>
  </div>


<div class="roll">
  {{lastRoll}}
</div>
 </div>



