
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="title">{{ title }}</div>
  <div class="warning-stripe">
  </div>
</div>


<div class="content" role="main">

<div class="row">

  <div class="col left">
    <div class="trait-label">
      <span class="wide-trait">Name:</span>
      <input [(ngModel)]="character.name" type="text" class="input-control wide" />
    </div>

    <div class="trait-label">
        <span class="wide-trait">
          Brownie Points: 
          </span>
          
          <button class="btn-small" (click)="character.decreaseBrowniePoints()">-</button>
          <span class="trait-holder">{{ character.browniePoints }}</span>
          <button class="btn-small" (click)="character.increaseBrowniePoints()">+</button>
    </div>
    
    <div class="trait-label">
      <span class="wide-trait">
            Goal:
            </span>
            <select ng-model="character.goal">
              <option *ngFor="let x of character.goals">{{x}}</option>
            </select>
    </div>

    <div class="trait-label">
        <span class="wide-trait"></span>
        <button class="btn-extra-wide btn-roll" (click)="rollStraight()">Roll Straight d6</button>
        <button class="btn-extra-wide btn-roll" (click)="roll('Single Ghost Die', 1)">Roll Ghost Die</button>  
      </div>
    </div>

  <div class="col right">
    <app-trait-detail [trait]="character.brains" (changed)="onChanged()" (roll)="onRoll($event)"></app-trait-detail>

    <app-trait-detail [trait]="character.muscle" (changed)="onChanged()" (roll)="onRoll($event)"></app-trait-detail>

    <app-trait-detail [trait]="character.moves" (changed)="onChanged()" (roll)="onRoll($event)"></app-trait-detail>

    <app-trait-detail [trait]="character.cool" (changed)="onChanged()" (roll)="onRoll($event)"></app-trait-detail>

    <h3 class="center">Traits Total: {{ character.totalTraits }} / <input class="input-control center" 
      [(ngModel)]="character.traitsAllowed"></h3>
  </div>

  </div>
    


  <div class="roll" [ngClass]="{'ghost':ghostStatus}">
    <span [innerHTML]="lastRoll" class="rolltext" ></span>
  </div>

 </div>



